# Ignore everything except files with certain extensions
*
!*/
!.gitignore
!.githooks
!*.agr
!*.cif
!*.conf
!*.cpptraj
!*.doc
!*.docx
!*.f
!*.gif
!*.in
!*.ipynb
!*.jpeg
!*.jpg
!*.mol2
!*.mpg
!*.pbs
!*.pdb
!*.pdf
!*.png
!*.PNG
!*.pptx
!*.ptraj
!*.py
!*.sdf
!*.sh
!*.vmd
!*.xml
!*.yaml
junk*
.ipynb_checkpoints
