# Ignore everything except files with certain extensions
*
!*/
!.gitignore
!.githooks
!*.agr
!*.cif
!*.conf
!*.cpptraj
!*.doc
!*.docx
!*.f
!*.gif
!*.gro
!*.in
!*.ipynb
!*.itp
!*.jpeg
!*.JPG
!*.jpg
!*.mdp
!*.mol2
!*.mpg
!*.pbs
!*.pdb
!*.pdf
!*.png
!*.PNG
!*.pptx
!*.ptraj
!*.py
!*.sdf
!*.sh
!*.top
!*.vmd
!*.xml
!*.xvg
!*.yaml
junk*
.ipynb_checkpoints
